name: Spell Check

on:
  pull_request:
  workflow_dispatch:

jobs:
  cspell:
    name: Check Spelling
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run cspell
        uses: streetsidesoftware/cspell-action@v6
        with:
          files: '**/*.md'
          config: '.cspell.json'
          strict: false
          inline: warning
